version: "3.8"

services:
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    hostname: spark-master
    command: >
      bash -c "
      /opt/spark/sbin/start-master.sh &&
      tail -f /opt/spark/logs/spark--org.apache.spark.deploy.master*.out
      "
    ports:
      - "8080:8080"   # Spark Master UI
      - "7077:7077"   # Spark Master port
    volumes:
      - ./app:/opt/spark-app
      - ./data:/opt/spark-data

  spark-worker-1:
    image: apache/spark:3.5.1
    container_name: spark-worker-1
    hostname: spark-worker-1
    command: >
      bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 --cores 2 --memory 2g &&
      tail -f /opt/spark/logs/spark--org.apache.spark.deploy.worker*.out"
    ports:
      - "8081:8081"
      - "4040:4040"
    depends_on:
      - spark-master
    volumes:
      - ./app:/opt/spark-app
      - ./data:/opt/spark-data

  spark-worker-2:
    image: apache/spark:3.5.1
    container_name: spark-worker-2
    hostname: spark-worker-2
    command: >
      bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 --cores 2 --memory 2g &&
      tail -f /opt/spark/logs/spark--org.apache.spark.deploy.worker*.out"
    ports:
      - "8082:8081"
    depends_on:
      - spark-master
    volumes:
      - ./app:/opt/spark-app
      - ./data:/opt/spark-data
